body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
}
.light_theme_color{
    color: rgb(75, 75, 75);
}


/**************** top navigaciis seqcia ******************************/

.nav_top{
    padding-bottom: 10px;
    padding-top: 10px;
}


.container{
    /* border: 1px solid red; */
}
.logo_box{
    width: 95px;
    height: 35px;
}
.logo_box img{
    width: 100%;
}
.logo_text{
    margin: 0;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    color: black;
}
.navigation_links a{
    text-decoration: none;
}
.profile_name {
    cursor: pointer;
    line-height: 20px;
}
.name_box{
    margin: 0;
}
.full_name{
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}
.user_name{
    margin: 0;
    font-size: 14px;
    color:  rgb(75, 75, 75);
}

.button{
    border: none;
    background-color: transparent;
}
.button_full{
    color: white;
    background-color: rgb(177, 176, 176);
    border-radius: 6px;
}
.userProfile{
    width: 45px;
    height: 45px;
    display: none;
    cursor: pointer;
}
.user_profile_border{
    width: 45px;
    height: 45px;
    border: 2px solid #5c6ee3;
    border-radius: 50%;
}
.user_inner{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.bi-person-fill{
    color: rgb(177, 176, 176);
    font-size: 30px;
}

#logout_btn{
    display: none;
}



/******************* navigation baneris seqcia ****************/
.page_appear{
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease-in-out;
}
.page_appear.show{
    opacity: 1;
    transform: translateY(0);
}
.banner_container{
    padding: 0;
}
.bannerlogo{
    height: 250px;
    width: 250px;
}
.bannerlogo img{
    width: 100%;
}
.banner_polygon{
    height: 400px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url(/src/images/landscape.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.left-banner{
    height: 352px;
    border-radius: 20px;
    width: 55px;
    background: linear-gradient(180deg, #5c6ee3 0%, #5c6ee3 14%, hsla(254, 74%, 65%, 1) 100%);

    
}
.left-banner-text{
    padding-top: 25px;
    text-align: center;
    margin: 0;
    width: 55px;
    color: white;
    height: 40px;
}
.left-banner-text p{
    font-size: 11px;
    font-weight: bold;
    margin: 0;
    /* transform: rotate(90deg); */
}
.left-banner-line{
    margin-top: 30px;
    height: 70px;
}
.line{
    width: 2px;
    height: 70px;
    background-color: white;
}
.left-banner-bottom-text{
    margin-top: 90px;
}
.left-banner-bottom-text p{
    white-space: nowrap;
    margin-bottom: 6px;
    color:  white;
    transform: rotate(90deg);
}

.right_banner_header{
    line-height: 50px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.right_banner_header span{
    background-color: #5c6ee3;
    padding: 6px;
    color: white;
}
.button_circle{
    margin-top: 20px;
}
.getStarted{
    width: 130px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background-color: #5c6ee3;
    color: white;
}
.getStarted:hover{
    width: 136px;
}
.bi-arrow-down-left{
    font-weight: bold;
    font-size: 18px;
}
/* section company */
.company_header{
    font-size: 20px;
    font-weight: bold;
    color: rgb(111, 110, 110);;
}
.imgbox{
    width: 150px;
    height: 100px;
}
.imgbox img{
    width: 100%;
}
.imgfilter{
    width: 100%;
    filter: grayscale(100%);
}
.job_post_text{
    font-size: 20px;
    font-weight: bold;
    color: rgb(111, 110, 110);;
}
.text-box{
    width: 600px;
}
.job_post_text{
    margin: 0;
}
.post_job_box{
    width: 200px;
}
#post_job{
    background-color: #5c6ee3;
    width: 100px;
    height: 40px;
}
.vacancy_inner_box{
    padding: 10px;
}
.vacancy_inner_box{
    width: 390px;
    border: 1px solid rgb(197, 196, 196);
    border-radius: 14px;
}
.vacancy_inner_box p{
    margin: 0;
}
.inner_logo{
    margin-top: 12px;
    width: 55px;
    height: 55px;
    background-color: rgb(197, 196, 196);
    border-radius: 12px;
}
.vacancy_info_box{
    width: 190px;
}
.vacancy_rest_box{
    width: 60px;
    height: 94px;
}
.items_list{
    font-size: 10px;
    color: rgb(96, 96, 96);
}
.items_list p{
    margin: 0;
}

.items_list i{
    font-size: 6px;
}
.salary{
    font-size: 11px;
    color: #5c6ee3;
    font-weight: bold;
}
.company_name{
    font-weight: 600;
    font-size: 16px;
}
.location{
    font-size: 10px;
}
.second_list{
    color: rgb(96, 96, 96);
    font-weight: bold;
}
.second_list i{
    font-size: 10px;
}
.date{
    font-size: 12px;
}
.inner_logo img{
    width: 100%;
}





